[Desktop Entry]
Version=1.0
Name=mpdBrowser
Name[fr]=mpdBrowser
Name[pl]=Klient MPD mpdBrowser
Comment=MPD click & play client
Comment[fr]=Client MPD orienté pochette
Comment[pl]=Klient MPD "kliknij i odtwórz"
Exec=mpdBrowser
Icon=/usr/share/pixmaps/mpdBrowser.png
Type=Application
Categories=Application;AudioVideo;
